@using OracleSampleProject.Models;

@{
    LessonModel lessonData = ViewBag.lessonData;
}

@{
    ViewData["Title"] = "Lessons Details";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The table below shows content in the 'Lessons' table.</p>
</div>

<!-- Main layout -->
<main class="mt-1 pt-3">
    <div class="container">

        <table class="table">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course ID</th>
                    <th scope="col">Lesson No</th>
                    <th scope="col">Lesson Title</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < @lessonData.LessonList.Count; i++)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@lessonData.LessonList[i].CourseId</td>
                        <td>@lessonData.LessonList[i].LessonNo</td>
                        <td>@lessonData.LessonList[i].LessonTitle</td>
                        <td>
                            <a asp-action="EditLesson" asp-route-courseId="@lessonData.LessonList[i].CourseId" asp-route-lessonNo="@lessonData.LessonList[i].LessonNo" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <form asp-action="DeleteLesson" method="post">
                                <input type="hidden" name="courseId" value="@lessonData.LessonList[i].CourseId" />
                                <input type="hidden" name="lessonNo" value="@lessonData.LessonList[i].LessonNo" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Jumbotron -->
        <section class="card wow fadeIn" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">

            <!-- Content -->
            <div class="card-body text-white text-center py-3 px-3 my-3">

                <h1 class="mb-4">
                    <strong>Add Content</strong>
                </h1>

                <p class="mb-4">
                    <strong>
                        The table above should show the contents of the database. <br>
                        Click on the button below to add content.
                    </strong>
                </p>
                <a class="btn btn-outline-white btn-lg" asp-area="" asp-controller="Home" asp-action="AddLesson">
                    Click me to add content!
                </a>

            </div>
            <!-- End of Content -->

        </section>
        <!-- End of Jumbotron-->

    </div>
    <!-- End of class container-->
</main>
<!--End of Main layout-->
