@using OracleSampleProject.Models;

@{
    StudentModel Viewsqldata = ViewBag.sqldata;
}

@{
    ViewData["Title"] = "Students Details";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> The table below shows content in the 'Students' table. </p>
</div>

<!-- Main layout -->
<main class="mt-1 pt-3">
    <div class="container">
        <!-- Assuming Viewsqldata is a model with a property StudentList -->
        <table class="table">
            <!-- Other table headers -->

            <thead class="thead-dark">
                <tr>
                    <!-- Other columns -->
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                   @*  <th>Update</th>
                    <th> *@Delete</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < @Viewsqldata.StudentList.Count; i++)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td scope="row">@Viewsqldata.StudentList[i].ID</td>
                        <td colspan="1">@Viewsqldata.StudentList[i].Name</td>
                        <td colspan="1">@Viewsqldata.StudentList[i].Email</td>
                        @* <td colspan="1">
                            <a asp-action="Update" asp-route-id="@Viewsqldata.StudentList[i].ID" class="btn btn-warning">Update</a>
                        </td>
                        <td colspan="1">
                            <form asp-action="Delete" method="post">
                                <input type="hidden" name="studentId" value="@Viewsqldata.StudentList[i].ID" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td> *@
                        
                    </tr>
                   
                }
            </tbody>
        </table>
        @* <table class="table">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < @Viewsqldata.StudentList.Count; i++)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td scope="row">@Viewsqldata.StudentList[i].ID</td>
                        <td colspan="1">@Viewsqldata.StudentList[i].Name</td>
                        <td colspan="1">@Viewsqldata.StudentList[i].Email</td>
                    </tr>
                }
            </tbody>
        </table> *@

        <!-- Jumbotron -->
        <section class="card wow fadeIn" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">

            <!-- Content -->
            <div class="card-body text-white text-center py-3 px-3 my-3">

                <h1 class="mb-4">
                    <strong>Add Content</strong>
                </h1>

                <p class="mb-4">
                    <strong>
                        The table above should show the contents of the database. <br>
                        Click on the button below to add content.
                    </strong>
                </p>
                <a class="btn btn-outline-white btn-lg" asp-area="" asp-controller="Home" asp-action="AddStudent">
                    Click me to add content!
                </a>

            </div>
            <!-- End of Content -->

        </section>
        <!-- End of Jumbotron-->

    </div>
    <!-- End of class container-->
</main>
<!--End of Main layout-->